*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/backo.jpg");
    background-repeat: repeat;
    min-height: 100vh;
}


/* MAINNNN */
.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* TEXTO PRINCIPAL  */
.texto--principal {
    background-color: rgb(148, 134, 134);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    gap: 15px;
}





/* NUEVOS BOTONES FLOTANTES DE LAS REDES SOCIALES */
#btn-mas {
    display: none;
}

.contenedor--botones {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.redes a, .icon-mas2 {
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes a:hover {
    background: #fff;
    color: #cc2b2b;
}

.redes a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~ .redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.icon-mas2 {
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}

#btn-mas:checked ~ .bt-mas .icon-mas2 {
    transform: rotate(137deg);
    font-size: 25px;
}


/* footer */
footer {
    background-color: #0f131a;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}